// フッター


// 変数、ミックスイン、関数
@use "../../global" as g;


.footer {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;

  &__nav {
    display: flex;
    flex-wrap: wrap;

    &Division {
      width: 50%;
      margin-bottom: 60px;
    }

    &Heading {
      margin-bottom: 30px;
      font-size: 16px;
      font-weight: 900;
    }

    &Item {
      margin-right: 10px;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    &Link {
      font-size: 13px;
      opacity: 0.8;
    }
  }

  &__sns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: -20px;

    &Item {
      margin-right: 33px;
      margin-bottom: 20px;
    }

    &Logo {
      width: 35px;
      opacity: 0.8;
    }
  }

  &__site {
    margin-bottom: 42px;

    &Name {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      font-size: 28px;
      font-weight: 900;
    }

    &Logo {
      width: 32px;
      margin-right: 16px;
    }

    &Text {
      font-size: 14px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.5;
  }

  &__decorationImage {
    position: absolute;
    top: -89px;
    right: -149px;
    z-index: -1;
    width: 406px;
    opacity: 0.22;
    transform: rotate(-56deg);
  }


  @include g.mq(md-min) {
    padding-top: 120px;
    padding-bottom: 107px;

    &__nav {
      max-width: 1000px;
      flex-wrap: nowrap;

      &Item {
        &:not(:last-child) {
          margin-bottom: 7px;
        }
      }

      &Link {
        font-size: 16px;
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;
    }

    &__site {
      margin-bottom: 0;
    }

    &__decorationImage {
      top: -138px;
      right: -112px;
    }
  }
}
