// ヘッダー


// 変数、ミックスイン、関数
@use "../../global" as g;


.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px #fff;
  background-color: rgba(#fff, 0.12);

  &__inner {
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__site {
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 900;
    opacity: 0.8;
  }

  &__logo {
    width: 24px;
    margin-right: 12px;
  }


  @include g.mq(md-min) {
    &__site {
      font-size: 28px;
    }

    &__logo {
      width: 32px;
      margin-right: 16px;
    }
  }
}
