<footer class="footer l-container">
  <nav class="footer__nav">
    <div class="footer__navDivision">
      <h3 class="footer__navHeading">EVENTS</h3>

      <ul class="footer__navList">
        <li class="footer__navItem">
          <a class="footer__navLink" href="#">リーグ</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="#">ウィンターカップ</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="#">リージョンステージ</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="#">ワールドファイナル</a>
        </li>
      </ul>
    </div><!-- /.footer__navDivision -->

    <div class="footer__navDivision">
      <h3 class="footer__navHeading">ABOUT</h3>

      <ul class="footer__navList">
        <li class="footer__navItem">
          <a class="footer__navLink" href="#">プロジェクト</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="#">スポンサー</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="#">チーム</a>
        </li>
      </ul>
    </div><!-- /.footer__navDivision -->

    <div class="footer__navDivision">
      <h3 class="footer__navHeading">REGION</h3>

      <ul class="footer__navList">
        <li class="footer__navItem">
          <a class="footer__navLink" href="#">東京</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="#">アジア</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="#">アメリカ</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="#">ヨーロッパ</a>
        </li>
      </ul>
    </div><!-- /.footer__navDivision -->

    <div class="footer__navDivision">
      <h3 class="footer__navHeading">JOIN</h3>

      <ul class="footer__sns">
        <li class="footer__snsItem">
          <a class="footer__snsLink" href="#">
            <img class="footer__snsLogo" src="/images/sns/logo-twitter.svg" alt="Twitter">
          </a>
        </li>

        <li class="footer__snsItem">
          <a class="footer__snsLink" href="#">
            <img class="footer__snsLogo" src="/images/sns/logo-facebook.svg" alt="Facebook">
          </a>
        </li>

        <li class="footer__snsItem">
          <a class="footer__snsLink" href="#">
            <img class="footer__snsLogo" src="/images/sns/logo-instagram.svg" alt="Instagram">
          </a>
        </li>

        <li class="footer__snsItem">
          <a class="footer__snsLink" href="#">
            <img class="footer__snsLogo" src="/images/sns/logo-youtube.svg" alt="YouTube">
          </a>
        </li>

        <li class="footer__snsItem">
          <a class="footer__snsLink" href="#">
            <img class="footer__snsLogo" src="/images/sns/logo-discord.svg" alt="Discord">
          </a>
        </li>

        <li class="footer__snsItem">
          <a class="footer__snsLink" href="#">
            <img class="footer__snsLogo" src="/images/sns/logo-twitch.svg" alt="Twitch">
          </a>
        </li>
      </ul>
    </div><!-- /.footer__navDivision -->
  </nav>

  <div class="footer__content">
    <div class="footer__site">
      <div class="footer__siteName">
        <img class="footer__siteLogo" src="/images/common/logo.svg" alt="">
        Football Game
      </div><!-- /.footer__siteName -->

      <p class="footer__siteText">@ Football Game</p>
    </div><!-- /.footer__site -->

    <p class="footer__text">
      The icons used as the team logo made by Skoll,<br>
      Delapouite, Kier Heyl, Lorc, Carl Olsen. Available<br>
      on <a href="https://game-icons.net">https://game-icons.net</a>
    </p>
  </div><!-- /.footer__content -->

  <img class="footer__decorationImage" src="/images/common/logo.svg" alt="">
</footer>
