<header class="header">
  <div class="header__inner l-container">
    <div class="header__site">
      <img class="header__logo" src="/images/common/logo.svg" alt="">
      Football Game
    </div><!-- /.header__logo -->

    <button class="header__gNavBtn gNavBtn" type="button" onclick="document.querySelector('html').classList.toggle('is-gNavOpen')">
      <span class="gNavBtn__bar"></span>

      <span class="sr-only">MENU</span>
    </button>

    <nav class="header__gNav gNav">
      <ul class="gNav__list">
        <li class="gNav__item">
          <a class="gNav__link" href="#">
            Next Showdown
            <span class="gNav__linkJa">次の対戦</span>
          </a>
        </li>

        <li class="gNav__item">
          <a class="gNav__link" href="#">
            Tables & Standings
            <span class="gNav__linkJa">順位表</span>
          </a>
        </li>

        <li class="gNav__item">
          <a class="gNav__link" href="#">
            Teams
            <span class="gNav__linkJa">チーム</span>
          </a>
        </li>
      </ul>

      <ul class="gNav__sns">
        <li class="gNav__snsItem">
          <a class="gNav__snsLink" href="#">
            <img class="gNav__snsImage" src="/images/sns/logo-twitter.svg" alt="Twitter">
          </a>
        </li>

        <li class="gNav__snsItem">
          <a class="gNav__snsLink" href="#">
            <img class="gNav__snsImage" src="/images/sns/logo-facebook.svg" alt="Facebook">
          </a>
        </li>

        <li class="gNav__snsItem">
          <a class="gNav__snsLink" href="#">
            <img class="gNav__snsImage" src="/images/sns/logo-instagram.svg" alt="Instagram">
          </a>
        </li>

        <li class="gNav__snsItem">
          <a class="gNav__snsLink" href="#">
            <img class="gNav__snsImage" src="/images/sns/logo-youtube.svg" alt="YouTube">
          </a>
        </li>

        <li class="gNav__snsItem">
          <a class="gNav__snsLink" href="#">
            <img class="gNav__snsImage" src="/images/sns/logo-discord.svg" alt="Discord">
          </a>
        </li>

        <li class="gNav__snsItem">
          <a class="gNav__snsLink" href="#">
            <img class="gNav__snsImage" src="/images/sns/logo-twitch.svg" alt="Twitch">
          </a>
        </li>
      </ul>
    </nav>
  </div><!-- /.header__inner.l-container -->
</header>
