<div class="hero">

  <div class="hero__placeholderImage" style="background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgYGBggGBggMCAcIDA4KCAgKDhANDQ4NDRARDAwMDAwMEQwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/2wBDAQkICAkKCQsJCQsOCw0LDhEODg4OEREMDAwMDBERDAwMDAwMEQwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAANABQDASIAAhEBAxEB/8QAGQAAAgMBAAAAAAAAAAAAAAAAAAMBBAUH/8QAKhAAAAUBBgUFAQAAAAAAAAAAAQIDERIABAUTFCEiFTEyQqIjQ1JicqH/xAAXAQADAQAAAAAAAAAAAAAAAAABAwUG/8QAJxEAAQIDBgcBAAAAAAAAAAAAAQIDABExEhMhMjNRBCJSYZGToaL/2gAMAwEAAhEDEQA/AOc3LctrVVTXJeAWSzCAnFYguqWOrYYCG4e3tp6iilrXHPnSvI4qOnaLWQSKCAdihy6qGN95Qqndgr5NLLlEVd+KL8z+y4NoQA8vjS0uISPmgTErmcDOG/8Ausq2AfSECTTlnGoUR3lhSIS2lF1Vp1uZHIBZSvzqfqNPgNvnnuGI4EMTDmnGEovB+nyjuoqHvjJ9Po4fORn5/lqKN8xsqs9P5lhN1xvU1tVen7M0f//Z')"></div>

  <div class="hero__mainImage" style="background-image: url(/images/top/hero.jpg)"></div>

  <div class="hero__content l-container">
    <div class="hero__contentBody">
      <h1 class="hero__heading">
        <span class="hero__headingSub">
          <span class="hero__headingSlideIn">eSports</span>
        </span>

        <span class="hero__headingMain">
          <span class="hero__headingSlideIn">Football Game</span>
        </span>

        <span class="hero__headingYear">
          <span class="hero__headingSlideIn">2025<img class="hero__headingImage" src="/images/common/logo.svg" alt=""></span>
        </span>
      </h1>

      <p class="hero__text">今年も世界各地で開催されているフットボールゲームのリーグ戦。ここでは対戦予定や結果、順位などのデータと最新情報を配信しています。</p>
    </div><!-- /.hero__contentBody -->

    <figure class="hero__figure">
      <img class="hero__figureImage" src="/images/top/field.svg" alt="イラスト：サッカーのフィールド">
    </figure>
  </div><!-- /.hero__content -->

</div><!-- /.hero -->
